<div class="menu-btn">
  <i class="fas fa-bars fa-2x"></i>
</div>

<div class="container">
  <!-- Nav -->
  <nav class="main-nav">
    <img src="../../../assets/kinalLogo.png" alt="Kinal" class="logo" />

    <ul class="main-menu">
      <li><a routerLink="/">Inicio</a></li>
    </ul>

    <ul class="right-menu">
      <li>
        <a href="#">
          <li><a routerLink="login">Inicia Sesion</a></li>
        </a>
      </li>
      <li>
        <a href="#">
          <li><a routerLink="registrar">Registrate</a></li>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Showcase -->
  <header class="showcase"></header>

 <!-- Xbox -->
 <section class="dashboards">
  <div class="content">
    <h2>Dashboards</h2>
    <p>Es una herramienta de gestión de la información que monitoriza,
      analiza y muestra de manera visual los indicadores clave de desempeño (KPI)
      , métricas y datos fundamentales para hacer un seguimiento del estado de una empresa,
       un departamento, una campaña o un proceso específico.</p>
      <a href="https://www.cyberclick.es/numerical-blog/que-es-un-dashboard" class="btn">
        Fuente <i class="fas fa-chevron-right"></i>
      </a>
  </div>
</section>

  <!-- Home cards 1 -->
  <section class="dev">
    <div>
      <h1>Developers:</h1>
    </div>
  </section>

  <section class="home-cards">
    <div>
      <img src="../../../assets/developers/calvarez.jpeg" alt="" />
      <h3>calvarez-2020335</h3>
      <p>Scrum master, además de encargado de desarrollo de las Dashboards</p>
      <a href="https://github.com/calvarez2020335">GIT HUB<i class="fas fa-chevron-right"></i></a>
    </div>
    <div>
      <img src="../../../assets/developers/adelacruz.jpeg" alt="" />
      <h3>adelacruz-2020390</h3>
      <p>
        Scrum developer, además de encargado de desarrollo de Login y Registrar
      </p>
      <a href="https://github.com/adelacruz2020390">GIT HUB<i class="fas fa-chevron-right"></i></a>
    </div>
    <div>
      <img src="../../../assets/developers/dhernandez.jpg" alt="" />
      <h3>dhernandez-2020394</h3>
      <p>
        Scrum developer, además de encargado de desarrollar inico
        <a href="https://github.com/dhernandez2020394">GIT HUB<i class="fas fa-chevron-right"></i></a>
      </p>
    </div>

    <div>
      <img src="../../../assets/developers/ocujcuj.jpeg" alt="" />
      <h3>ocujcuj-2020371</h3>
      <p>
        Scrum developer, además de co-encargado de desarrollar Dashboard e Inicio
      </p>
      <a href="https://github.com/ocujcuj2020271">GIT HUB<i class="fas fa-chevron-right"></i></a>
    </div>
  </section>

  <!-- Follow -->
  <section class="follow">
    <p>Sigue a Kinal</p>
    <a href="https://www.facebook.com/kinal.gt">
      <img src="https://i.ibb.co/LrVMXNR/social-fb.png" alt="Facebook" />
    </a>
  </section>
</div>
